.card div {
  color: blue;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resource-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 300px;

  border: 2px;
  border-style: solid;
  border-radius: 20px;
  color: red;
}
